[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = git://github.com/yviktorov/symfony.git
[submodule "plugins/DbFinderPlugin"]
	path = plugins/DbFinderPlugin
	url = git://github.com/yviktorov/dbfinder_plugin.git
[submodule "plugins/sfGuardPlugin"]
	path = plugins/sfGuardPlugin
	url = git://github.com/yviktorov/sf_guard_plugin.git
[submodule "plugins/sfW3studioCmsPlugin"]
	path = plugins/sfW3studioCmsPlugin
	url = git://github.com/giansimon/w3studiocms.git
[submodule "web/js/tiny_mce"]
	path = web/js/tiny_mce
	url = git://github.com/yviktorov/tinymce.git
