config/databases.yml
web/*Plugin
web/*Theme
cache/*
log/*
data/sql/*
lib/form/base/*
lib/filter/base/*
lib/model/om/*
lib/model/map/*
web/w3s_tinymce_stylesheet.css
web/js/fileUploader/tfu.log
data/published/*
*~
*.swp
