[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = git://github.com/yviktorov/symfony.git
[submodule "plugins/DbFinderPlugin"]
	path = plugins/DbFinderPlugin
	url = git://github.com/yviktorov/dbfinder_plugin.git
[submodule "plugins/sfGuardPlugin"]
	path = plugins/sfGuardPlugin
	url = git://github.com/yviktorov/sf_guard_plugin.git
[submodule "plugins/sfW3studioCmsPlugin"]
	path = plugins/sfW3studioCmsPlugin
	url = git://github.com/yviktorov/w3studiocms.git
[submodule "web/js/tiny_mce"]
	path = web/js/tiny_mce
	url = git://github.com/yviktorov/tinymce.git
[submodule "themes/w3sJet30Theme"]
	path = themes/w3sJet30Theme
	url = git://github.com/yviktorov/w3s_jet30_theme.git
[submodule "plugins/w3sMediaLibraryPlugin"]
	path = plugins/w3sMediaLibraryPlugin
	url = git://github.com/yviktorov/w3s_media_library_plugin.git
[submodule "plugins/w3sCmsPlugin"]
	path = plugins/w3sCmsPlugin
	url = git://github.com/yviktorov/w3studiocms.git
